
body,
html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif !important;
    background-color: #fff !important;
 
}

body{
    padding-top: 68px !important;
}

.container {
    padding-top: 1%;
    padding-bottom: 1%;
}

img {
    width: 100%;
    height: auto;
}

/****navbar v.2 *****/
.navbar-header.col {
    padding: 0 !important;
}

.navbar {
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.nav-link img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand {
    color: #049a49;
    padding-left: 0;
    font-size: 20px;
}
.navbar .navbar-brand b {
    font-weight: bold;
    color: #fff;
}
.navbar ul.nav li a:hover,
.navbar ul.nav li a:focus {
    color: #fff !important;
    background-color: #157f94; /**hover and click **/
}
.navbar ul.nav li.active a,
.navbar ul.nav li.active a:hover,
.navbar ul.nav li.active a:focus {
    color: #157f94 !important;
    background: transparent !important;
}

.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar .nav-item.open > a {
    background: none !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .dropdown-menu li a {
    color: #157f94;
    padding: 8px 20px;
    line-height: normal;
}
.navbar .navbar-form {
    margin-right: 0;
    margin-left: 0;
    border: 0;
}

.navbar-logo {
    width: 55px;
    height: 40px;
}

/***** old navbar *******/
.navbar-brand {
    color: #fff;
}

.navbar {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #fff !important;
}

.navbar-img {
    widows: 30px !important;
    height: 30px !important;
}

nav .navbar-nav li a {
    color: #157f94 !important;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #fff;
}

.navbar-nav > li > .dropdown-menu a:hover {
    background-color: #fff;
    color: black !important;
}

/***********************************************************************************index page *********************************/

/**** banner section ****/
.masthead {
    width: 100%;
    height: 30vw;
    background-image: url("/resources/logo/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h1,
header p {
    color: #fff;
}

/****** Prodi Carousel ****/

.carousel {
    width: 90%;
    margin: 0px auto;
}
.slick-slide {
    margin: 10px;
}
.slick-slide img {
    width: 100%;
    border: 2px solid #fff;
}

#prodi{
    background-color: #40bad5;
}

#prodi h2{
    color: #fff;
}

#prodi .card-img-top {
    width: 9em;
    height: 10em;
    padding-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#prodi .card {
    min-height: 20vh;
    box-shadow: 5px 5px 0px 0px #00909e;
    border-radius: 30px;
}

#prodi .card-text {
    font-size: 13px;
    text-align: center;
}

#prodi .card-title {
    font-weight: bold;
    color: #17706e;
}

#prodi .tombol-tema {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background: rgb(7,121,228);
    background: linear-gradient(90deg, rgba(7,121,228,1) 18%, rgba(6,137,233,1) 47%, rgba(3,179,245,1) 78%, rgba(0,212,255,1) 100%);
    transition: 0.4s;
}

#prodi a {
    color: #fff;
}
/***** end prodi *****/

/********* why ******/
#why {
    padding-top: 10px;
    padding-bottom: 15px;
}

#why{
    background-color: #fff;
}

#why .card{
    padding: 1em 1em 1em 1em;
    border-radius: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-top: 1em;
}

#why .why-title {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 30px;
    color: #0e9aa7;
}

#why img {
    width: 20em;
    height: 18em;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
}

#why .why-kelas {
    text-align: left;
}

#why .why-dosen {
    text-align: left;
}

#why .jarak {
    padding-top: 15px;
    padding-bottom: 15px;
}

#why h4{
    margin-bottom: 1em;
    color: #17706e;
}

#why .col-lg-4 p{
    text-align: justify;
    color: black;
}

/********* end why ******/

/**********Fasilitas *********/
#fasilitas h2{
    color: #0e9aa7;
}

#fasilitas h5{
    color: #17706e;
}

#fasilitas img {
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
}
/***** end Fasilitas*******/

/********* pendaftaran-prodi ******/
#pendaftaran-prodi {
    min-height: 25vh;
    color: #fff;
    background-color: #40bad5;
    padding-top: 2%;
    padding-bottom: 0.5%;
    text-align: center;
}



/***** pendaftaran-prodi *****/

/***** pendaftaran *****/
#pendaftaran .jarak {
    padding-top: 5%;
    padding-bottom: 4%;
}

#pendaftaran h2{
    color: #fff !important;
}

#pendaftaran {

    color: #fff;
    padding-top: 1%;
    text-align: center;
    background-color: #4cbbb9;
    padding-bottom: 20px;
}

#pendaftaran h2{
    text-align: center;
    color: #393d3e;
    font-size: 1.8em;
}

.square_btn {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    background: rgb(7,121,228);
    background: linear-gradient(90deg, rgba(7,121,228,1) 18%, rgba(6,137,233,1) 47%, rgba(3,179,245,1) 78%, rgba(0,212,255,1) 100%);
    transition: 0.4s;
}


/******* Contact Us ******/
#contact-us{
    margin-top: -1%;
    margin-bottom: -1%;
    background-color: #035aa6;

}

#contact-us p{
    color: #ffffff;
    text-align: center;
}

#contact-us ul{
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

#contact-us h2{
    font-size: 2.2em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

#contact-us{
    padding: 20px 20px 20px 20px;
    
}

/******* contact Us ******/

/******* QA ******/
#qa .faq-title{
    margin-top: 1.7em;
    text-align: center;
    color: #0e9aa7;
}

#qa .card{
    min-height: 15rem;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 12px;
    text-align: justify;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.73);
}

#qa .qa-icon{
    width: 44px;
    height: 44px;
    float: left;
    margin-right: 7px;
}

#qa .qa-question{
    font-size: 1.1em;
    margin-top: 10px;
}
/******* end QA******/


/***** berita *****/
#berita {
    min-height: 60vh;
    background-color: #00909e;
    color: black;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

#berita .card-img-top {
    object-fit: cover;
}

#berita h2{
    color: #fff;
}


/**** footer ****/
footer {
    background-color: #fff;
    color: black;
    font-size: 13px;
}

/******************************* VISI DAN MISI PAGE ******************************************************************/

/***** visi *****/
#visi {
    min-height: 30vh;
    background-color: #157f94;
    color: #fff;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

#visi p {
    font-size: 18px;
}

#visi hr {
    background-color: #fff;
}

/***** misi *****/
#misi {
    min-height: 50vh;
    background-color: #157f94;
    color: #fff;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

#misi p {
    font-size: 18px;
}

#misi hr {
    background-color: #fff;
}

#misi ul li {
    margin-top: 10px;
}

/**** ciri khas *****/
#ciri-khas {
    min-height: 50vh;
    background-color: #fff;
    color: black;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

#ciri-khas h5 {
    font-weight: bold;
}

#ciri-khas p {
    color: #6c757d !important;
}

#ciri-khas .card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: contain;
    padding-top: 1em;
    padding-bottom: 1em;
}

/***************************************** Tentang Ubad ******************************/

#tentang-ubad {
    min-height: 50vh;
    background-color: #157f94;
    color: #fff;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

#tentang-ubad h1 {
    font-weight: bold;
}

#tentang-ubad p {
    font-size: 14px;
}

#profil-universitas {
    min-height: 50vh;
    background-color: #fff;
    color: #6c757d;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

/*Profile Rektor Ketua*/
.profile-card-5 {
    margin-top: 20px;
}

.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
}
.profile-card-5 .card-img-block img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}
.profile-card-5 h5 {
    color: #4e5e30;
    font-weight: 600;
}
.profile-card-5 p {
    font-size: 14px;
    font-weight: 300;
}
.profile-card-5 .btn-primary {
    background-color: #4e5e30;
    border-color: #4e5e30;
}

#deskripsi-universitas {
    background-color: #fff;
    color: #fff;
    min-height: 20vh;
    padding-top: 2%;
    padding-bottom: 2%;
}

#deskripsi-universitas .tag {
    font-weight: bold;
}

#deskripsi-universitas .card {
    background-color: #fff;
    color: #393d3e;
    text-align: center;
}

#deskripsi-universitas .card-img-top {
    width: 100%;
    height: 15vh;
    object-fit: contain;
    padding-top: 1em;
    padding-bottom: 1em;
}

#deskripsi-universitas .card-body {
    background-color: #157f94;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #fff;
}

#deskripsi-universitas .card-text {
    font-size: 12px;
}
/**************************Content atas Setiap Prodi *********************/

#prodi-content {
    min-height: 50vh;
    background-color: #fff;
    color: #696969;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

#prodi-content .prodi-icon {
    width: 18em;
    height: 20em;
    padding-top: 2%;

}

#prodi-content .col-lg-4 img {
    width: 16em;
    height: 18em;
    display: block;
    margin: 0 auto;
}

#prodi-content p{
    text-align: justify;
}

/************************************************************** prodi teknik biomedis *************************************/

#prodi-banner-teknik-biomedis {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
    background: url("/resources/logo/teknik-biomedis-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#prodi-teknik-biomedis .layer {
    background-color: rgba(13, 13, 13, 0.5);

    width: 100%;
    height: 100%;
}

/************************************************************** prodi teknologi pangan *************************************/

#prodi-banner-teknologi-pangan {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
    background: url("/resources/logo/teknologi-pangan-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#prodi-banner-teknologi-pangan .layer {
    background-color: rgba(13, 13, 13, 0.4);

    width: 100%;
    height: 100%;
}

/************************************************************** prodi psikologi *************************************/

#prodi-banner-psikologi {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
    background: url("/resources/logo/psikologi-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#prodi-banner-psikologi .layer {
    background-color: rgba(13, 13, 13, 0.4);

    width: 100%;
    height: 100%;
}

/************************************************************** prodi GIZI *************************************/

#prodi-banner-gizi {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
    background: url("/resources/logo/gizi-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#prodi-banner-gizi .layer {
    background-color: rgba(13, 13, 13, 0.4);

    width: 100%;
    height: 100%;
}

/************************************************************** prodi farmasi *************************************/

#prodi-banner-farmasi {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
    background: url("/resources/logo/farmasi-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#prodi-banner-farmasi .layer {
    background-color: rgba(13, 13, 13, 0.4);

    width: 100%;
    height: 100%;
}

/************************************************************** prodi akuntansi *************************************/

#prodi-banner-akuntansi {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
    background: url("/resources/logo/akunting-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#prodi-banner-akuntansi .layer {
    background-color: rgba(13, 13, 13, 0.4);

    width: 100%;
    height: 100%;
}

/************************************************************** prodi hubungan masyarakat *************************************/

#prodi-banner-hubungan-masyarakat {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
    background: url("/resources/logo/hubunngan-masyarakat-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#prodi-banner-hubungan-masyarakat .layer {
    background-color: rgba(13, 13, 13, 0.4);

    width: 100%;
    height: 100%;
}

/************************************************************** prodi hubungan bahasa inggris *************************************/

#prodi-banner-bahasa-inggris {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
    background: url("/resources/logo/bahasa-inggris-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#prodi-banner-bahasa-inggris .layer {
    background-color: rgba(13, 13, 13, 0.4);

    width: 100%;
    height: 100%;
}

/************************************************************** prodi hubungan hukum *************************************/

#prodi-banner-hukum {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
    background: url("/resources/logo/hukum-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#prodi-banner-hukum .layer {
    background-color: rgba(13, 13, 13, 0.4);

    width: 100%;
    height: 100%;
}

/************************************************************** prodi hubungan sistem informasi *************************************/

#prodi-banner-sistem-informasi {
    max-height: 90vh;
    min-height: 90vh;
    height: 90vh;
    background: url("/resources/logo/sistem-informasi.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

#prodi-banner-sistem-informasi .layer {
    background-color: rgba(13, 13, 13, 0.4);

    width: 100%;
    height: 100%;
}

/******************************************************** Halaman Berita ***********************************/
#halaman-berita .col-lg-4,
.col-lg-8 {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*=================================================================================================*/

/****************************************** Staff ***********************/

#staff {
    background:#40bad5;
}

#staff .small-center{
    color: black !important;
    text-align: center;
}

#staff .card{
    box-shadow: 5px 5px 0px 0px #00909e;
    border-radius: 40px;
    margin: 15px 15px 15px 15px;
    background-color: #ffffff;
}

#staff h1{
    margin-bottom: 20px;
    margin-top: 20px;
    color:#fff !important;
}

#staff .card-title{
    color: black !important;
}

#staff .card h5{
    margin-bottom: 0.5em;
}

#staff .card-img-top{
    border-radius: 50%;
    padding: 20px 20px 20px 20px;
    width: 200px;
    height: 200px;
    
}

#staff .logo-pendidikan{
    width: 44px;
    height: 44px;
    margin-bottom: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#staff .card-text{
    text-align: center;
    font-size: 1.1em;
    margin-left: 0.4em;
}

#staff .s1{
    background-color: #4cbbb9;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 10px;
}

#staff .s2{
    background-color: #00909e;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 10px;
}

#staff .s3{
    background-color: #0779e4;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 10px;
}

#staff .rektor, .ketua-yayasan{
    margin-top: 10px;
    width: 10rem;
    color: #ffffff;
}

/*****************************************************************/

/**** Mahasiswa baru ****/
#mahasiswa-baru .maba-header{
    color: #fff;
    background-color: #0e9aa7;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

#mahasiswa-baru img{
    width: 30em;
    height: 30em;
    
}

#mahasiswa-baru .card-img-top {
    width: 15em;
    height: 12em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    object-fit: contain;
}

#mahasiswa-baru .card-text {
    text-align: justify;
}



#mahasiswa-baru .card {
    box-shadow: 5px 5px 0px 0px #b3d9ff;
    margin-top: 2%;
    margin-bottom: 2%;
}

#mahasiswa-baru .card-title {
text-align: center;
}

#mahasiswa-baru .mahasiswa-baru-question{
    background-color: #00909e;
    color:#fff;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
}

#mahasiswa-baru ul{
    list-style-type: none;
}

#mahasiswa-baru li{
    text-align: center;
}





/**** Mahasiswa baru ****/

/**** Form Pendaftaran ****/
#form-pendaftaran h2,h3{
    font-size: 1.5rem;
}


/**** end Form Pendaftaran ****/

/**** Validated ****/
#validated {
    margin-top: 20px;
}

#validated h2{
    color: #0e9aa7;;
}

/**** end validated ****/

/**** status-pendaftaran ****/
#status-pendaftaran {
    margin-top: 2em;
}

#status-pendaftaran .status-pendaftaran-img{
    width: 15em;
    height: 15em;
    margin-top: -2em;
    margin-bottom: -1em;
}



#status-pendaftaran .faq-title{
    margin-top: 1.7em;
    text-align: center;
    color: #0e9aa7;
}

#status-pendaftaran .card{
    min-height: 10rem;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 12px;
    text-align: justify;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.73);
}

#status-pendaftaran .qa-icon{
    width: 44px;
    height: 44px;
    float: left;
    margin-right: 7px;
}

#status-pendaftaran .qa-question{
    font-size: 1.1em;
    margin-top: 10px;
}


/**** status-pendaftaran ****/


/****************************************** admin area *****************************/

/**===================================admin-page************************/
#admin-page .card{
    padding: 20px 20px 20px 20px;
    margin-top: 15px;
    box-shadow: 2px 2px #c6e0f5;
}

#admin-page .card-img-top{
    height: 10rem;
    width: 10rem;
}

#admin-page .card-text, .card-title{
    text-align: center;
}




/**===================================end admin-page************************/

/***************** daftar-pendaftar *********/
#daftar-pendaftar .container{
    margin-top: 1%;
    margin-bottom: 4%;
}

#daftar-pendaftar h3{
    font-size: 1.6em;
}

#daftar-pendaftar .tombol-back{
    margin-top: 30px;
    margin-bottom: 0px;
}

#daftar-pendaftar .card{
    padding: 2em 2em 2em 2em;
    box-shadow: 5px 5px 0px 0px #b3d9ff;
}
/****************end daftar-pendaftar*************/

/***************** faq *********/
#daftarfaq .card{
    padding: 2em 2em 2em 2em;
    margin-bottom: 2em;
}

/***************** end faq *********/